body{
    background-color: rgb(111, 117, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 0px;
}
.content-div{
    display: flex;
    flex-direction: row;
    min-height: 90vh; /* Ensures the layout takes at least the full viewport height */
}

.aside {
  width: 300px; /* Fixed width sidebars */
  padding: 1em;
}
.aside-div{
    padding:0px 15px 15px 15px;
    background-color: rgb(124, 183, 255);
}
main {
  flex-grow: 1; /* Allows main content to fill remaining horizontal space */
  padding: 1em;
}
.main-div{
    padding:0px 15px 15px 15px;
    background-color: rgb(124, 183, 255);
    min-height: 500px;
}
nav{
    width: 100%;
}
nav a{
    text-decoration:none;
    color: black;
    font-size: 48px;
    margin-left: 20px;
}
nav a:hover{
    color: aqua;
}
header{
    background-color: bisque;
    margin: 0 0 0 0;
    width: 100%;
}